.container {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
